.field
      %label{ :for => 'imap_user' } E-mail User:
      %input.input{ :type => 'text', :id => 'imap_user', :name => 'imap_user' }
      %label{ :for => 'imap_password' } Password:
      %input.input{ :type => 'password', :id => 'imap_password', :name => 'imap_password' }
      %input#jssubmit.submit{ :type => 'submit', :value => 'Login', :style => 'display:none' }