%h1 Enter download password…
#content
  %form{ :action => @link, :method => 'post' }
    .field
      %label{ :for => 'file_key' } Password:
      %input{ :type => 'text', :id => 'file_key', :name => 'file_key' }
    .field
      .submit
        %input{ :type => 'submit', :value => 'Get file' }
