%h1 Pass this on!
#content
  .url
    %a{ :href => @url }
      %span.base>= "#{base_href}/"
      %span.name= @name
  - unless @unprotected
    %p A password is required to download this file.
  %p The file will be available until #{@expire_at}.
  .again
    %a{ :href => base_href } Share another file…
