$green: #00ff26

body
  background-color: $green
  font-family: Georgia
  color: darkgreen

a, a:visited
  text-decoration: underline
  color: blue

.error
  background-color: red
  color: white
  border: black solid 1px

h1
  margin-top: 0.1ex
  border-bottom: solid 1px #ccc
  text-align: center

#container
  width: 550px
  margin: 2em auto
  border-radius: 25px
  -moz-border-radius: 25px
  -webkit-border-radius: 25px
  background: white
  border: solid 1px black
  padding: 5px 25px

.url
  text-align: center

.url a
  text-decoration: none
  color: black

.url .base
  display: block
  font-size: small

.url .name
  display: block
  font-size: x-large
  white-space: nowrap

.again
  margin-top: 1ex
  text-align: right

.field label
  float: left
  width: 12em
  text-align: right
  margin: 0 5px 2px 0

.input, .random-pass
  margin: 0 5px 2px 0
  float: left
  width: 220px

.random-pass
  font-family: monospace
  font-size: large
  color: black

#gen_pass
  font-size: small

.field
  clear: left

.submit
  text-align: center
  margin-top: 5px

#progress
  margin: 8px
  width: 220px
  height: 19px

#progressbar
  background: url('images/ajax-loader.gif') no-repeat
  width: 0px
  height: 19px

#auth-message
  clear: both
  color: red
  text-align: center

#footer
  margin-top: 7em
  padding-top: 1em
  border-top: dashed 1px black
  text-align: center
  font-size: small

#upload-authentication .field label
  margin: 0 5px 1px 0

#upload-authentication .submit
  float: right
  margin: 1px 22px
